<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BuddyIN"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <profileable android:shell="true" />
        <activity
            android:name=".StudentSignUpActivity"
            android:exported="false" />
        <activity
            android:name=".lecturer.LecturerEditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".NewBuddyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".RequestBuddyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".SearchBuddyActivity"
            android:exported="false" />
        <activity
            android:name=".SearchPostNotesActivity"
            android:exported="false" />
        <activity
            android:name=".ViewPostDetailActivity"
            android:exported="false" />
        <activity
            android:name=".LecturerHomeActivity"
            android:exported="false" />
        <activity
            android:name=".AdminHomePageActivity"
            android:exported="false" />
        <activity
            android:name=".LecturerSignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ChatbotActivity"
            android:exported="false" />
        <activity
            android:name=".ViewChatImageActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".SubjectFilterActivity"
            android:exported="false" />
        <activity
            android:name=".NotesSubjectActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".BuddyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".UploadNotesActivity"
            android:exported="false" />
        <activity
            android:name=".UploadPostActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>